table {
    text-align: center;
}

form {
    margin: 20px 0;
    text-align: center;
}

input {
    margin-left: 10px !important;
}

button {
    border:none;
    background-color: transparent;
    color: #f2f2f2;
}

.turquoise {
    background-color: #75A5AD;

}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #fafafa;
}

th {
    padding: 0 !important;
}

